<div class="container py-5">
  <div class="row">
    <div class="col-sm-12 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center"><i class="fa fa-plus" aria-hidden="true"></i> 新增餐廳</h4>
          <hr>
          <form action="/restaurants" method="POST">

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name">餐廳名稱</label>
                <input type="text" class="form-control" name="name" placeholder="XXX 餐廳">
              </div>
              <div class="form-group col-md-6">
                <label for="name_en">英文餐廳名稱</label>
                <input type="text" class="form-control" name="name_en" placeholder="XXX Restaurant">
              </div>

            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="rating">評分</label>
                <input type="number" class="form-control" name="rating" step="0.1" min="0" max="5" placeholder="1-5分">
                <small id="ratingDescrip" class="form-text text-muted">評分請填1-5分</small>
              </div>
              <div class="form-group col-md-6">
                <label for="category">餐廳類型</label>
                <select name="category" class="form-control">
                  <option selected disabled>選擇餐廳類型</option>
                  <option value="美式料理">美式料理</option>
                  <option value="義式料理">義式料理</option>
                  <option value="台式料理">台式料理</option>
                  <option value="日式料理">日式料理</option>
                  <option value="東南亞料理">東南亞料理</option>
                  <option value="中東料理">中東料理</option>
                </select>
              </div>

            </div>

            <div class="form-group">
              <label for="image">餐廳圖片連結</label>
              <input type="url" class="form-control" name="image" placeholder="http://...">
            </div>
            <div class="form-group">
              <label for="location">地址</label>
              <input type="text" class="form-control" name="location" placeholder="">
            </div>
            <div class="form-group">
              <label for="phone">電話</label>
              <input type="number" class="form-control" name="phone" placeholder="022363xxxx"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="10">
            </div>
            <div class="form-group">
              <label for="google_map">GoogleMap 連結</label>
              <input type="url" class="form-control" name="google_map" placeholder="http://...">
            </div>

            <div class="form-group">
              <label for="description">餐廳介紹</label>
              <textarea class="form-control" name="description" rows="3" maxlength="250"></textarea>
              <small id="descriptHelp" class="form-text text-muted">字數上限250字</small>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-danger">Submit</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>